body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

#logo {
    width: 158px;
    margin-top: 10px;
    margin-right: 125px;
}

.rifo_nav {
    height: 70px;
    background-color: white;
    border: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rifo_nav a.navbar-nav,
.rifo_nav .nav li a {
    color: #031c4e;
    font-weight: 500;
    font-size: 16px;
    padding-left: 5px;
}

.get-in-button {
    color: #006aff;
    font-weight: 500;
    background-color: white;
    border: 1px solid #006aff;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

/* SECTION BLU */

.bg-blu {
    background-color: #004aff;
    background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

#banner h1 {
    color: white;
    font-size: 62px;
    font-weight: 700;
    padding-top: 50px;
}

#banner p {
    color: #ccd6ee;
    font-size: 22px;
    width: 110%;
}

#rifo_jumbo {
    max-width: 80%;
    margin-top: 50px;
    margin-left: 110px;
}

h2 {
    color: #031b4e;
    font-size: 30px;
}

#get-started {
    font-size: 30px;
    margin-bottom: 10px;
    color: #0069ff;
}

.btn-account {
    color: white;
    background-color: #579aff;
    border: #579aff;
}

.btn-account, .btn-google {
    font-weight: 500;
    padding: 5px 100px;
}

.btn-google {
    color: #626262;
    position: relative;
}

#google-logo {
    width: 20px;
    position: absolute;
    transform: translate(-450%);
}

h6 {
    color: #031b4e;
}

/* SECTION 2 */

.bg-lightgrey,
.carosel {
    background-color: #f3f5f9;
}

.bg-lightgrey h3 {
    font-size: 15px;
    color: #6f7b97;
    margin-top: 50px;
    margin-bottom: 20px;
}

.partners img {
    width: 150px;
    padding-right: 50px;
}

.view-customers {
    margin-bottom: 30px;
}

/* SECTION DEPLOY AND SCALE */

.deploy-and-scale h2 {
    margin-top: 80px;
}

.p-big-gray {
    font-size: 23px;
    font-weight: 400;
    color: #5c6a88;
    margin-bottom: 60px;
}

.aside {
    font-size: 20px;
    border-left: 2px solid #cccccc;
    margin-top: 90px;
    margin-left: 90px;
}

.aside ul {
    padding-left: 10px;
}

.aside li {
    list-style: none;
    text-decoration: none;
    padding-bottom: 20px;
}

.aside a {
    color: #6f7b97;
}

.row-card h3 {
    color: #031b4e;
    font-size: 20px;
}

.row-card p {
    font-size: 15px;
    color: #6f7b97;
    margin-right: 20px;
}

.last {
    padding-bottom: 80px;
}


.row-down img {
    padding-top: 20px;
}

/* CAROSEL */

.carosel {
    padding-top: 60px;
    padding-bottom: 60px;
}

.carosel h2 {
    padding-bottom: 20px;
}

#img-carosel {
    width: 81%;
    display: block;
}

.slide-carosel {
    position: relative;
}

#chevron {
    font-size: 30px;
}

.ch-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    color: gray;
}

.ch-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    color: #031b4e;
}

.p-little-blue {
    color: #031c4e;
    font-weight: 500;
    font-size: 16px;
    padding-top: 15px;
}

.circle {
    color: #006aff;
}

/* THE FEATURES YOUR BUSINESS.. */

#the-features {
    padding-top: 60px;
    padding-bottom: 60px;
}

.row-card {
    margin-top: 30px;
}

.features p {
    padding-bottom: 5px;
}

.row-card a {
    color: #006aff;
    font-size: 16px;
}

/* SECTION BG-WORLD */

.bg-world {
    background-color: #003fbc;
    background-image: linear-gradient(#0046c5, #001d99);
    padding-top: 60px;
    padding-bottom: 60px;
}

.bg-world h2 {
    padding-bottom: 20px;
}

.p-big-white {
    color: white;
    font-weight: 700;
}

#no-border-top td {
    border-top: none;
}

tr:nth-child(6n) {
    border-bottom: none;
}

td:nth-child(2) {
    color: white;
}

td:first-child {
  color: white;
  font-weight: 500;
}

td:last-child {
  color: #00d7d2;
  font-weight: 500;
  font-size: 13px;
}

/* SECTION ROCKERBOX */

.rockerbox {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #f3f5f9;
}

.rockerbox-carosel {
    margin-top: 60px;
    padding-bottom: 60px;
    background-color: white;
}

#rockerbox-logo {
    padding-top: 80px;
}

.rockerbox-carosel p {
    font-size: 20px;
    padding-top: 25px;
    margin-bottom: 5px;
}

.ch-left-2 {
    left: -5%;
}

.ch-right-2 {
    right: -5%;
}

.rockerbox-carosel h4 {
    font-weight: 500;
}

.rockerbox-carosel h5 {
    color: #031b4e;
}

.rockerbox-carosel a {
    color: #00d7d2;
    font-weight: 500;
    font-size: 13px;
}

.circle {
    margin-top: 30px;
}

/* GET STARTED NOW */

.bg-blu {
    background-color: #012da8;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-blu h3 {
    font-size: 30px;
}

.bt-account-create {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

/* FOOTER */

footer {
    color: white;
    background-color: #031c4e;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer img {
    margin-bottom: 10px;
}

#copyright {
    color: #808794;
}

.social i {
    color: #808794;
    padding-right: 10px;
}

.row-footer nav {
    float: left;
}

.row-footer p {
    font-weight: 500;
}

.row-footer ul {
    padding-left: 0px;
    float: left;
}

.row-footer li {
    list-style: none;
    text-decoration: none;
}

.nav-menu ul {
    padding-right: 65px;
    float: left;
}

.nav-menu a {
    color: #808794;
    line-height: 25px;
}
