body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

#logo {
    width: 158px;
    margin-top: 10px;
    margin-right: 125px;
}

.rifo_nav {
    height: 70px;
    background-color: white;
    border: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rifo_nav a.navbar-nav,
.rifo_nav .nav li a {
    color: #031c4e;
    font-weight: 500;
    font-size: 16px;
    padding-left: 5px;
}

.sign-up-button {
    color: #006aff;
    font-weight: 500;
    background-color: white;
    border: 1px solid #006aff;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

/* SECTION BLU */

.bg-blu {
    background-color: #004aff;
    padding-top: 80px;
    padding-bottom: 50px;
}

#banner h1 {
    color: white;
    font-size: 62px;
    font-weight: 700;
    padding-top: 50px;
}

#banner p {
    color: #ccd6ee;
    font-size: 22px;
    width: 110%;
}

#rifo_jumbo {
    max-width: 80%;
    margin-top: 50px;
    margin-left: 110px;
}

h2 {
    color: #031b4e;
    font-size: 30px;
}

#get-started {
    font-size: 30px;
    margin-bottom: 10px;
    color: #0069ff;
}

.btn-account {
    color: white;
    background-color: #579aff;
    border: #579aff;
}

.btn-account, .btn-google {
    font-weight: 500;
    padding: 5px 100px;
}

.btn-google {
    color: #626262;
    position: relative;
}

#google-logo {
    width: 20px;
    position: absolute;
    transform: translate(-450%);
}

h6 {
    color: #031b4e;
}

/* SECTION 2 */

.bg-lightgrey,
.carosel {
    background-color: #f3f5f9;
}

.bg-lightgrey h3 {
    font-size: 15px;
    color: #6f7b97;
    margin-top: 50px;
    margin-bottom: 20px;
}

.partners img {
    width: 150px;
    padding-right: 50px;
}

.view-customers {
    margin-bottom: 30px;
}

/* SECTION DEPLOY AND SCALE */

.deploy-and-scale h2 {
    margin-top: 80px;
}

.deploy-and-scale p {
    font-size: 23px;
    font-weight: 400;
    color: #5c6a88;
    margin-bottom: 60px;
}

.aside {
    font-size: 23px;
    border-left: 2px solid #cccccc;
    margin-left: 93px;
}

.aside ul {
    padding-left: 10px;
}

.aside li {
    list-style: none;
    text-decoration: none;
    padding-bottom: 20px;
}

.aside a {
    color: #6f7b97;
}

.row-card h3 {
    color: #031b4e;
    font-size: 20px;
}

.row-card p {
    margin-right: 20px;
    font-size: 18px;
}

/* CAROSEL */
/* .carosel {
    background-color: #f3f5f9;
} */

.carosel .boo_chevron::before {
    content: "/f053";
	font-family: "Font Awesome 5 Free";
}

.bg-world {
    background-color: #003fbc;
}

tr {
    border-bottom: 1px solid white;
}

footer {
    background-color: #031c4e;
}
